@import "@govtechmy/myds-style/color.css";

/* Import Light theme */
@import "@govtechmy/myds-style/light.css";

/* Import Dark theme */
@import "@govtechmy/myds-style/dark.css";

@import "@/styles/articles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }

  * {
    --_civictech-700: 45 28 87;
    --_civictech-600: 239 78 35;
    --_civictech-200: 210 192 255;
    --_civictech-100: 244 238 255;
    --_civictech-50: 247 243 255;
    --_civictech-secondary: 0 99 211;
    --_civictech-tertiary: 37 166 223;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :root {
    --fr-_civictechmy-100: var(--_civictech-100) / 40;
    --txt-_civictechmy-600: var(--_civictech-600);
    --txt-_civictechmy-600-dark: var(--_civictech-700);
    --btn-_civictechmy-unset: var(--_civictech-unset);
    --btn-_civictechmy-default-outline: var(--_civictech-default-outline);
    --btn-_civictechmy-primary-outline: var(--_civictech-primary-outline);
    --btn-_civictechmy-primary-fill: var(--_civictech-primary-fill);

    --btn-_civictechmy-unset-dark: var(--_civictech-unset-dark);
  }

  .dark {
    --fr-_civictechmy-100: var(--_civictech-100) / 40;
    --txt-_civictechmy-600: var(--_civictech-600);
    --txt-_civictechmy-600-dark: var(--_civictech-200);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
